Repository linkedin/kafka-monitor, pull requests merged in 2020-09, with the labels that each got.

#313 Extract ClusterTopicManipulationService out of SingleClusterMonitor such that it can be instantiated as a separate service rather than part of the SingleClusterMonitor App
  src/main/java/com/linkedin/xinfra/monitor/apps/SingleClusterMonitor.java
Labels: xinfra-monitor

#296 path fix for docker/Dockerfile and bin/single-cluster-monitor.sh
  bin/single-cluster-monitor.sh
  docker/Dockerfile
Labels: no-pr-activity

#314 Resolve Startup fail with Missing required configuration "topic" which has no default value.
  config/xinfra-monitor.properties
Labels: bug
